/*  Variables */
:root {
    --text-color-dark: rgb(51,51,51);
    --text-color-light: rgb(255,255,255);
    --primary-color:rgb(253,218,129);
    --secondary-color: rgb(250,133,0);
    --text-color-muted: rgb(153,153,153);
}

/* General tags */

* {
    box-sizing: border-box;
    margin: 0;
}

h1{
    font-size: 2rem;
}

h2 {
    font-size: 3.5rem;
    line-height: 1.2;
}
body{
    font-family: Poppins, Arial;
    color : var(--text-color-dark);
    padding: 20px 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--text-color-dark);
    font-weight:bold;
}

a:hover{
    text-decoration: underline;
}

button{
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
}

/* Nav section */

.logo-letter-1{
    color: var(--primary-color);
}

.logo-letter-2{
    color: var(--secondary-color);
}
.nav-links{
    display: flex;
    gap:30px;
}

.nav-icons{
    display: flex;
    gap: 40px;
    align-items: center;
}

.basket-icon-container{
    position: relative;
}

.basket-count{
    top:10px;
    left:10px;
    background-color: red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 0.6rem;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
}

.sign-in-btn{
    border: 1px solid var(--text-color-dark);
}

.sign-up-btn{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

/* Main section */

.main-section{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.title-thin{
    font-weight: 200;
}

.description{
    color: var(--text-color-muted);
}

.hightlight{
    font-weight: bold;
    color: black;
}

.order-section{
    margin-top:40px;
}

.total-order{
    font-size:2.5rem;
    font-weight: 100;
}
/* Image section */

.product-image{
    height: 450px;
    position: fixed;
    top:200px;
    right:260px;
}

.background-image{
    height: 105vh;
    width: 100vh;
    border-radius: 50%;
    position : fixed;
    top:-2.5%;
    left: 70%;
    z-index: -1;
    filter: brightness(1.3);
}

.actions-btn-container{
    display:flex;
    gap: 40px;
    margin-top: 20px;
}
.qty-btn-container{
    border: 1px solid var(--secondary-color);
    border-radius: 40px;
}
.qty-btn{
    background-color:transparent;
    border: none;
    height: 100%;
    color: var(--secondary-color);
}

.buy-btn{
    width: 100px;
    position: relative;
    background-color: black;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-btn-icon-container{
    position: absolute;
    left:5px;
    background-color: var(--primary-color);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy-btn-icon{

    color: black;

}

.buy-btn-text{
    padding-left:12px;
    font-weight: bold;
}


/* Product banner */

.product-banner{
    top:350px;
    right:360px;
    position: fixed;
    color: var(--text-color-light);
    background-color: var(--secondary-color);
    height: 400px;
    width: 250px;
    border-radius: 30px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding:20px;
    gap:30px;
    z-index: -1 ;

}

.product-info{
    display : flex;
    font-size: x-large;
    gap:40px;
}


.delivery-time{
    background-color: black;
    border-radius: 30px;
    padding : 10px 16px;
    display:flex;   
    align-items: center;
    gap:20px;
}


/* Animations */ 

.fa-magnifying-glass,
.basket-icon-container,
.sign-in-btn,
.sign-up-btn,
.buy-btn {
    transition: all 0.3s ease-in-out;
}


.sign-in-btn:hover,
.sign-up-btn:hover,
.buy-btn:hover {
    transform: scale(1.1);
}

.fa-magnifying-glass:hover,
.basket-icon-container:hover{
    transform: scale(1.3); 
}

/* Mobile responsive design */

@media screen and (max-width: 1480px){
 nav {
    flex-direction: column;
    gap: 40px;
 }
 h2, p{
    text-align: center;
 }

 body{
    padding: 20px;
 }

 .image-section{
    display: none;
 }

 .main-section{
    align-items: center;
 }

}
