body {
  line-height: 1.6rem;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
}

.recipe-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20 20px;
} 

.recipe-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

h1 {
  font-size: 28px;
}

.preparation-time,
.ingredients {
  margin-bottom: 20px;
}
.preparation-time,
.ingredients,
.instructions {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

h2 {
  font-size: 22px;
  margin-top: 0;
}

ul,
ol {
  padding-left: 20px;
  gap: 20px;
}

li {
  margin-bottom: 10px;
}
