/* Global layout */

body{
  background-color: rgb(249,248,245);
}
.content-container{
  display: grid;
  gap:20px;
  grid-template-columns: 3fr 1fr;
}

h2 {
  font-size: 1.1rem;
  line-height: 0.1rem;
}
/* Dessert section */

.dessert-card{
  position: relative;
  width: fit-content;
  transition : all 0.3s
}


.dessert-card:hover{
  transform: scale(1.05)
}
.dessert-type{
  margin-top:20px;
  color: #888;
}
.dessert-price{
  color: #e67e22;
  font-weight: bold;
}
.dessert-card-img{
  width:240px;
  height:200px;
  border-radius: 8px;
}

.dessert-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.btn-add-to-cart{
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 140px;
  padding:10px 15px 8px 15px;
  position: absolute;
  top:175px;
  left: 50px;
  cursor: pointer;

}



.btn-card-icon{
  width:20px;
  vertical-align: middle;
  margin-right:5px;
}

.btn-card-text{
  vertical-align: middle;
  font-weight: bold;
}
/* Cart section */

.cart-container{
  background-color: white;
  padding:20px;
  box-shadow: 1px 2px 4px rgb(0,0,0,0.1);
  height: 400px;
  color: #e67e22;
  width: 400px;
}

.cart-img{
  width: 100px;
  display: block;
  margin:auto;
}

.cart-text{
  text-align: center;
}